{
	"extends": "@ljharb",

	"rules": {
		"func-style": "warn",
	},

	"overrides": [
		{
			"files": "test/**/*.js",
			"env": {
				"mocha": true,
			},
			"rules": {
				"max-lines-per-function": "off",
			},
		},
	],
}
